{% extends "base.html" %}
{% block pagename %}Change Password{% endblock pagename %}
{% block content %}
<div class="container mt-5">
    
    {% if messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {% for message in messages %}
                <strong class="text-danger">{{ message }}</strong>
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    
    <form method="post" action='{% url "change_password" %}'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mt-3">Change Password</button>
    </form>
</div>
{% endblock content %}
