<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket</title>
    <style>
      
        body {
            font-family: Arial, sans-serif;
        }
        .ticket {
            border: 2px dashed #333;
            padding: 20px;
            margin: 20px;
        }
        h1 {
            text-align: center;
            color: #007bff;
        }
    </style>
</head>
<body>
    {% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {% for message in messages %}
    <strong class="text-danger">{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {% endfor %}
</div>

{% endif %}

    <div class="ticket text-white">
        <p>{{ booking.show_name }}</p>
        <p><strong>Date:</strong> {{ booking.show_date}}</p>
        <p><strong>Showtime:</strong> {{ booking.showtime.time }}</p>
        <p><strong>Seats:</strong> {{ booking.user_seat }}</p>
        <p><strong>Number of seats:</strong> {{ booking.total_seat }}</p>
        <p><strong>Total Price:</strong> ${{ booking.total_price }}</p>
        <p><strong>Cinema:</strong> {{ booking.cinema_name }}</p>
        <p><strong>Cinema Location:</strong> {{ booking.cinema_location }}</p>
        
    </div>
</body>
</html>
